extends main.pug

include ../blocks/head_mnu/head_mnu.pug
include ../blocks/header/header.pug
include ../blocks/free_access/free_access.pug
include ../blocks/our_service/our_service.pug
include ../blocks/our_journal/our_journal.pug
include ../blocks/footer_widgets/footer_widgets.pug
include ../blocks/footer/footer.pug

block title
	title projec

block pagecontent

	+head_mnu()

	+header()

	+free_access()

	+our_service()

	+our_journal()

	+footer_widgets()

	+footer()

	