mixin section_6()
	.section_6(style="background-image: url(img/section_6/bgi_sect6.png)")
		.section
			article.head
				h2 lorem ipsum 
				img(src="img/puls_min.png", alt="puls_min")
			section.sect_part_1
				h4 Lorem Ipsum 
				p.margin_p Lorem Ipsum is simply dummy text of the printing and typesetting industry.
				p Lorem Ipsum is <br>simply dummy text
			article.head
				h2 lorem ipsum 
				img(src="img/puls_min.png", alt="puls_min")
			.sect_6
				aside.map
					img(src="img/section_6/map.png", alt="map")
				form.forms_footer
					input(type="text", placeholder="Lorem Ipsum", class="form_footer")
					input(type="text", placeholder="Lorem Ipsum", class="form_footer")
					input(type="text", placeholder="Lorem Ipsum", class="form_footer")
					input(type="text", placeholder="Lorem Ipsum", class="form_footer", id="form_f2")
					input(type="text", placeholder="Lorem Ipsum", class="form_footer")


