mixin section_6()
	.section_6(style="background-image: url(img/section_6/bgi_sect6.png)")
		.section
			article.head
				h2 lorem ipsum 
				img(src="img/puls_min.png", alt="puls_min")
			section.sect_part_1
				h4 Lorem Ipsum 
				p.margin_p Lorem Ipsum is simply dummy text of the printing and typesetting industry.
				p Lorem Ipsum is <br>simply dummy text
			article.head
				h2 lorem ipsum 
				img(src="img/puls_min.png", alt="puls_min")
			.sect_6
				aside.map
					h3 lorem ipsum 
					img(src="img/section_6/map.png", alt="map")
				form.forms_footer
					input(type="text", placeholder="Lorem Ipsum", class="form_footer")
					input(type="text", placeholder="Lorem Ipsum", class="form_footer")
					input(type="text", placeholder="Lorem Ipsum", class="form_footer")
					input(type="text", placeholder="Lorem Ipsum", class="form_footer", id="form_f2")
					input(type="text", placeholder="Lorem Ipsum", class="form_footer")
					label(for="check_footer" class="check_footer") Lorem Ipsum is simply dummy
						input(type="checkbox"  id="check_footer")
						span.span_check
					button.button_form.button_sect6
						h5 submit
			.social_icons
				ul
					li(class="icon-1")
						a(href="#" class="icon-facebook")
					li(class="icon-2")
						a(href="#" class="icon-twitter")
					li(class="icon-3")
						a(href="#" class="icon-gplus")
					li(class="icon-4")
						a(href="#" class="icon-linkedin")
					li(class="icon-5")
						a(href="#" class="icon-xing")


