.section_6 
	background-size: cover
	background-repeat: no-repeat
	.section
		width: 100%
		background-color: transparentize(#fff, 0.20)
	.sect_part_1
		display: flex
		flex-direction: column
		text-align: center
		h4
			margin-top: 40px
			text-transform: capitalize
		p
			font-size: 28px
		.margin_p
			margin: 25px 0 
	.sect_6
		display: flex
		justify-content: space-around
		.forms_footer
			display: flex
			flex-direction: column
			#form_f2
				margin-top: 48px
			.form_footer
				height: 50px
				width: 450px
				margin: 17px 0
