mixin section_5()
	.section_5(style="background-image: url(img/section_5/bgi_sect_5.png)")
		.sect_5.section
			article.head
				h2 lorem ipsum 
				img(src="img/puls_min.png", alt="puls_min")

			section.column
				h4 Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
				h4.brt Lorem Ipsum is simply dummy text of the printing and typesetting industry.

			article.head
				h2 lorem ipsum 
				img(src="img/puls_min.png", alt="puls_min")

			form.contact_forms
				input(type="text", name="Name",placeholder="Lorem Ipsum", class="contact_form name_form cont_form")
				input(type="text", name="E-mail",placeholder="Lorem Ipsum", class="contact_form cont_form")
				input(type="text", name="message",placeholder="Lorem Ipsum", class="contact_message cont_form")

				input(type="checkbox" id="button_f" class="button_form button_sect5")
				label(for="button_f" class="button_form button_sect5")
					h5.button_off Lorem Ipsum
					h5.button_on Send Message

				.contact_popup
					.form_close
						label(for="close" class="close icon-cancel")
						input(type="checkbox"  id="close" class="close")
					h4 Lorem Ipsum is simply dummy text of the printing and typesetting industry.

