mixin section_2()
	section.section_2.section
		section.head
			h2 lorem ipsum
			img(src="img/puls_min.png", alt="puls_min")

		section.column
			h4 Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
		
		aside.grid_wrap
			.grid_w 
				hr.g_b_1
				.grid_border
					.grids
						.grid
							.img_grid
								img(src="img/section_2/1.png", alt="1")
							p Lorem
				.grid_border
					hr.g_b_2
					.grids
						.grid
							.img_grid
								img(src="img/section_2/2.png", alt="2")
							p Lorem
				hr.g_b_6
				.grid_border
					.grids
						.grid
							.img_grid
								img(src="img/section_2/3.png", alt="1")
							p Lorem
			.grid_w
				hr.g_b_3
				.grid_border
					.grids
						.grid
							.img_grid
								img(src="img/section_2/4.png", alt="2")
							p Lorem
				hr.g_b_5
				.grid_border
					.grids
						.grid
							.img_grid
								img(src="img/section_2/5.png", alt="5")
							p Lorem
			.grid_w
				
				.grid_border
					hr.g_b_4
					.grids#img_6
						.grid
							.img_grid
								img(src="img/section_2/6.png", alt="2")
							p Lorem

