mixin section_2()
	section.section_2.section
		section.head
			h2 lorem ipsum
			img(src="img/puls_min.png", alt="puls_min")

		section.column
			h4.text_max Lorem Ipsum is simply dummy text of the printing and typesetting industry.
			h4.text_min Lorem Ipsum is simply dummy text of the printing and typesetting indus- try. Lorem Ipsum has been the indus- try's standard dummy 
		
		aside.grid_wrap_max
			.grid_w  
				hr.g_b_1
				.grid_border
					.grids
						.grid
							.img_grid
								img(src="img/section_2/1.png", alt="1")
							p Lorem
				.grid_border
					hr.g_b_2
					.grids
						.grid
							.img_grid
								img(src="img/section_2/2.png", alt="2")
							p Lorem
				hr.g_b_6
				.grid_border
					.grids
						.grid
							.img_grid
								img(src="img/section_2/3.png", alt="1")
							p Lorem
			.grid_w
				hr.g_b_3
				.grid_border
					.grids
						.grid
							.img_grid
								img(src="img/section_2/4.png", alt="2")
							p Lorem
				hr.g_b_5
				.grid_border
					.grids
						.grid
							.img_grid
								img(src="img/section_2/5.png", alt="5")
							p Lorem
			.grid_w
				.grid_border
					hr.g_b_4
					.grids#img_6
						.grid
							.img_grid
								img(src="img/section_2/6.png", alt="2")
							p Lorem

		//min_grid wrap
		aside.grid_wrap_min
			.grid_w_min  
				.grids
					.grid
						.img_grid
							img(src="img/section_2/min_1.png", alt="1")
						p Lorem
				.grids
					.grid
						.img_grid
							img(src="img/section_2/min_2.png", alt="2")
						p Lorem
			.grid_w_min
				.grids
					.grid
						.img_grid
							img(src="img/section_2/min_3.png", alt="3")
						p Lorem
				.grids
					.grid
						.img_grid
							img(src="img/section_2/min_4.png", alt="4")
						p Lorem
			.grid_w_min
				.grids
					.grid
						.img_grid
							img(src="img/section_2/min_5.png", alt="5")
						p Lorem

				.grids
					.grid
						.img_grid
							img(src="img/section_2/min_6.png", alt="6")
						p Lorem
