.section_2 
	background-color: #f6f8fb
	.column
		height: 210px
	.grid_wrap
		transform: rotate(225deg)
		position: relative
		top: -100px
		margin-bottom: 150px

	.grid_w
		display: flex
		flex-wrap: wrap
		max-width: 980px
		position: relative
		width: 100%

		
		.grids
			position: relative
			overflow: hidden
			display: flex
			aling-items: center
			justify-content: center
			height: 210px
			width: 210px
			background-color: #e2e4e7
			margin: 15px
			&:hover
				background-color: $accent

			.grid
				position: absolute
				margin-bottom: 30px
				padding: 45px 25px 0 0
				transform: rotate(-225deg)
				
				.img_grid
					height: 91px
					padding: 30px 0 0 35px

				p
					margin-top: 35px
					font-size: 26px
					text-transform: uppercase
					width: 165px
					background-color: #f6f8fb
					text-align: center
				

hr
	position: absolute
	border: 1px #d0d0d0 solid
.g_b_1
	width: 715px
	right: 0
	left: 14px
	top: -9px

.g_b_2
	width: 720px
	top: 367px
	left: -522px
	right: 200px
	transform: rotate(90deg)

.g_b_3
	top: -8px
	right: 0
	width: 745px

.g_b_4
	width: 535px
	top: -8px
	right: 205px
	left: -40px

.g_b_5
	transform: rotate(90deg)
	width: 750px
	top: 100px
	right: 90px
	left: -150px

.g_b_6
	transform: rotate(90deg)
	width: 535px
	top: 230px
	right: -90px
	left: 150px








