mixin section_1()
	section.section_1.section
		section.head
			h2 lorem ipsum
			img(src="img/puls_min.png", alt="puls_min")

		section.column
			h4 Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
			h4.brt Lorem Ipsum is simply dummy text of the printing and typesetting industry.

		aside.blocks 
			.block.block1
				.img_block.img_1
					img(src="img/section_1/1.png", alt="")
				p Lorem Ipsum is simply dummy text of the printing and typeset - ting industry.
			.block.block2
				p Lorem Ipsum is simply dummy text of the printing and typeset - ting industry.
				.img_block.img_2
					img(src="img/section_1/2.png", alt="")
			.block.block3
				.img_block.img_3
					img(src="img/section_1/3.png", alt="")
				p Lorem Ipsum is simply dummy text of the printing and typeset - ting industry.


