mixin our_service()
	.our_service
		.sect_3
			.wrap
				.home_sect
					h3 our service
				.service_wrap
					.widget
						.icon_1.icons
							<i class="icon icon-edit" aria-hidden="true"></i>
							h4 Content Marketing
							p Understand the basics of building the type of audience that will build your business.
							<a class="button small" href="#">Learn More</a>
					.widget
						.icon_2.icons
							<i class="icon icon-lock" aria-hidden="true"></i>
							h4 Digital Commerce
							p Our academy shows you how to create and sell profitable digital products &amp; services.
							<a class="button small" href="#">Learn More</a>
					.widget
						.icon_3.icons
							<i class="icon icon-mic-outline" aria-hidden="true"></i>
							h4 Podcast Training
							p We'll teach you how to deliver a remarkable podcasting audience experience.
							<a class="button small" href="#">Learn More</a>
					

					
