mixin footer_widgets()
	.footer_widgets
		.wraps
			.contact_us.us.padin
				h3 contact us
				p 7860 North Park Place<br> San Francisco, CA 94120
				<a href="tel:+15555555555">555-555-1234</a>
			.about_us.us.padin
				h3 about us
				p Digital Pro is an agency that will help you discover smarter ways to sell profitable digital products.
				<a href="#">Learn More</a>
			.follow_us.us
				h3 follow us
				ul
					li
						<a href="#"><i class="icon icon-facebook"></i></a>
					li
						<a href="#"><i class="icon icon-gplus"></i></a>
					li
						<a href="#"><i class="icon icon-instagram"></i></a>
					li
						<a href="#"><i class="icon icon-linkedin"></i></a>
					li
						<a href="#"><i class="icon icon-pinterest"></i></a>
					li
						<a href="#"><i class="icon icon-twitter"></i></a>
