mixin our_journal()
	.our_journal
		.sect_4
			.home_sect
				h3 our journal
			.journals
				.journ
					.journal
						<p class="entry_time"> <a class="border" href="#">Brian Gardner</a> / November 1, 2015</p>
						h2 <a class="border" href="#">The Key to Building A Smart Business</a>
						<p class="journal_text"> This is a sample intro paragraph and can be used to hook visitors into reading your article. You can change the appearance of this by editing the style sheet.</p>
						<a class="more_link" href="#"> Continue Reading</a>
					.img_wrap_1.img_wrap 
						<a href="#"><img class="img_w" src='img/journal/journ_1.jpg' alt='#'></a>
				.journ
					.journal
						<p class="entry_time"> <a class="border" href="#">Brian Gardner</a> / November 1, 2015</p>
						h2 <a class="border" href="#">Craft Killer Copy to Sell Your Digital Products</a>
						<p class="journal_text"> This is a sample intro paragraph and can be used to hook visitors into reading your article. You can change the appearance of this by editing the style sheet.</p>
						<a class="more_link" href="#"> Continue Reading</a>
					.img_wrap_2.img_wrap 
						<a href="#"><img class="img_w" src='img/journal/journ_2.jpg' alt='#'></a>
				.journ
					.journal
						<p class="entry_time"> <a class="border" href="#">Brian Gardner</a> / November 1, 2015</p>
						h2 <a class="border" href="#">How to Leverage Social Advertising Platforms</a>
						<p class="journal_text"> This is a sample intro paragraph and can be used to hook visitors into reading your article. You can change the appearance of this by editing the style sheet.</p>
						<a class="more_link" href="#"> Continue Reading</a>
					.img_wrap_3.img_wrap 
						<a href="#"><img class="img_w" src='img/journal/journ_3.jpg' alt='#'></a>
				.pag_next
					<a class="next more_link" href="#">Next Page »</a>