mixin section_3()
	section.section_3.section
		section.head
			h2 lorem ipsum
			img(src="img/puls_min.png", alt="puls_min")
		aside.buttons 
			<input type="checkbox" id="check_1" class="check_1">		
			label(for="check_1" class="button button_1")
				h4.on Lorem Ipsum is simply 
				h4.off Apply for a free pilot
			<input type="checkbox" id="check_2" class="check_2">	
			label(for="check_2" class="button button_2")
				h3 Lorem Ipsum is simply 
			<input type="checkbox" id="check_3" class="check_3">	
			label(for="check_3" class="button button_3")
				h4.on Lorem Ipsum is simply 
				h4.off Book live demo

			form.form_popup
				.form.form_left
					input(placeholder="Lorem Ipsum" class="field")
					input(placeholder="Lorem Ipsum" class="field")
					input(placeholder="Lorem Ipsum" class="field")
				.form
					.form_close
						label(for="close" class="close icon-cancel")
						input(type="checkbox"  id="close" class="close")
					input(placeholder="Lorem Ipsum" class="field")
					input(placeholder="Lorem Ipsum" class="field")
					label(for="check" class="check") Lorem Ipsum is simply dummy
						input(type="checkbox"  id="check")
						span
					button.button_form.button_sect3
						h5 submit

		.background-image
			.bg_image(style="background-image: url(img/section_3/bgi_sect3.png)")
