mixin header()
	<div class="main-head" style="background-image: url(img/header_bg.jpg);">
		.wrap
			.content
				h1 Great Experiences
				p Build the business of your dreams without making unnecessary mistakes.
				<a class="button" href="#">Click for Free Access</a>
	</div>