mixin head_mnu()
	<header class="head_mnu scroll">
		.mnu
			.logo 
				<a href="#"> Digital Pro</a>
				
			.toggle
				<a class="toggleMenu" href="#"><span class="icon icon-menu"></span>Menu</a>

			nav.main_mnu
				ul
					li <a href="#">Author</a>
					li <a href="#" class="sab_icon">Journal</a>
						ul.journal_mnu
							li <a href="#" class="sab_icon ">Content / Sidebar</a>
								ul.item_mnu
									li <a href="#">Menu Item</a>
									li <a href="#">Menu Item</a>
							li <a href="#">Sidebar / Content</a>
							li <a href="#">Full-Width Content</a>
					li <a href="#">Typography</a>
					li <a href="#" class="sab_icon">Shop</a>

						ul.shop_mnu
							li <a href="#">Product</a>
							li <a href="#">My Account</a>
							li <a href="#">Cart</a>
							li <a href="#">Checkout</a>
					li <a href="#">Contact</a>
	</header>	
