extends main.pug


include ../blocks/head_mnu/head_mnu.pug

include ../blocks/head/head.pug

include ../blocks/about_me/about_me.pug

include ../blocks/contact/contact.pug

include ../blocks/footer/footer.pug



block title
	title FitLife Alex

block pagecontent

	.wrapper

		header.header

			+head_mnu()

			+head()
		
		main.main
			
			+about_me()

			+contact()
		footer
			+footer()