mixin section_4()
	.section_4
		article.head
			h2 lorem ipsum
			img(src="img/puls_min.png", alt="puls_min")
		aside.news_content

			.news_1.news

				.news_text_upper.news_block.text_1
					hr.left_border
					h4 Lorem Ipsum is simply dummy text of the printing and 
					p.after Lorem Ipsum is simply
				.news_block
					hr.right_border
					p Lorem Ipsum is simply dummy text of the printing and typeset-ting industry. 
				.news_block
					img(src="img/section_4/1.png", alt="")

			.news_2.news
				.news_block.news_img
					hr.left_border
					img(src="img/section_4/2.png", alt="")
				.news_block
					hr.right_border
					p Lorem Ipsum is simply dummy text of the printing and typeset-ting industry. 
				.news_text_upper.news_block.text_2
					h4 Lorem Ipsum is simply dummy text of the printing and 
					p.before Lorem Ipsum is simply

			#news_3.news
				.news_text_upper.news_block.text_1
					hr.left_border
					h4 Lorem Ipsum is simply dummy text of the printing and 
					p.after Lorem Ipsum is simply
				.news_block
					hr.right_border
					p Lorem Ipsum is simply dummy text of the printing and typeset-ting industry. 
				.news_block
					img(src="img/section_4/3.png", alt="")