mixin head_mnu()
	#head_mnu
		article.container
			section.heading
				h1 FitLife <span>Alex</span>
				h3 Fitness Trainer 
			nav.nav
				ul.ul
					li.list
						a(class='link' href="#") home
					li.list
						a(class='link' href="#") about
					li.list
						a(class='link' href="#") folio
					li.list
						a(class='link' href="#") services
					li.list
						a(class='link' href="#") news
					li.list
						a(class='link' href="#") contact