mixin head_mnu()
	#head_mnu.bgc
		.container
			section.heading
				h1 FitLife <span>Alex</span>
				h3 Fitness Trainer
			nav.nav
				.title
						h2 FitLife <span>Alex</span>
				ul.ul
					li
					li.list
						a(class='link' href="#head") home
					li.list
						a(class='link' href="#about_me") about
					li.list
						a(class='link' href="#contacts") contact
					li.list
						a(class='link' href="#footer") my social networks
					