mixin free_access()
	.free_access
		.wrap
			.sect_2
				.get_free.wraper
					.widget_wrap
						h3 Get Free Access						
						p This is where you can ask site visitors to sign up for your weekly newsletter. Be sure to craft copy that converts.
						.check_mark
							ul
								li <i class="icon ion-md-checkmark"></i>Build Your Business the Smart Way
								li <i class="icon ion-md-checkmark"></i>Create Marketing Funnels That Work
								li <i class="icon ion-md-checkmark"></i>Craft Killer Copy for Digital Products
								li <i class="icon ion-md-checkmark"></i>Leverage Social Advertising Platforms
								li <i class="icon ion-md-checkmark"></i>Enter the WordPress Premium Market
							p Ask them to <a href="#"> subscribe</a> to discover smarter ways to create and sell profitable digital products and services. <a href="#">Spam-free policy</a>.
				.email.wraper
					.widget_wrap
						h3 Email Newsletter
						p Fill out the form below for immediate access.
						form
							<input type="text" name="#" placeholder="First Name" required>
							<input type="text" name="#" placeholder="Last Name" required>
							<input type="email" name="#" placeholder="you@email.com" required>
							<button class="button" >Get Free Access</button>
						.p_wrap
							p 
								|By joining the Digital Pro newsletter, you agree to our <a href="#">Privacy Policy</a> and <a href="#">Community Guidelines</a>. Got questions? <a href="#">Check the FAQ</a>.
							

