
.icon-mic-outline:before { content: '\e800'; } /* '' */
.icon-menu:before { content: '\e801'; } /* '' */
.icon-edit:before { content: '\e802'; } /* '' */
.icon-lock:before { content: '\e803'; } /* '' */
.icon-ok:before { content: '\e804'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-gplus:before { content: '\f0d5'; } /* '' */
.icon-linkedin:before { content: '\f0e1'; } /* '' */
.icon-angle-down:before { content: '\f107'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-pinterest:before { content: '\f231'; } /* '' */
.icon-facebook:before { content: '\f30c'; } /* '' */