mixin contact()
	#contacts
		.container
			section.message
				h2 My Philosophy
				.philosophy
					.img-5.border
						img(class='photo5' src="img/photo5.png", alt="photo5")
					p <span>At vero eos et accusamus iusto </span> odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt.
				p.p Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.
				button.button read more
			section.contact_info
					h2 Contact
					.contact#location
						.icons
							img(src="img/icons/Home.svg", alt="home")
						.text
							h3 Location
							address
								| Chicago, IL
					.contact
						.icons
							img(src="img/icons/Mail.svg", alt="home")
						.text
							h3 email
							address
								a(href="mailto:ilycha92@gmail.com")| @gmail.com 
						
					.contact
						.icons
							img(src="img/icons/Phone.svg", alt="home")
						.text
							h3 toll free call
								
							address
								a(href="tel:+1333-33-3333") 333-33-3333

