mixin contact()
	#contacts
		article.container
			section.message
				h2 My Philosophy
				.philosophy
					img(src="img/photo5.png", alt="photo5")
					p <span>At vero eos et accusamus iusto </span> odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt.
				p.p Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.
				button.button
					p read more
			section.contact
				h2 Contact 
