mixin about_me()
	#about_me
		article.container
			section.about_me
				h2 About Me
				.img-res.border
					img(src="img/photo4.png", class="photo4" alt="photo4")
				p This Photographer’s Portfolio is one of free website templates Portfolio is one of free website templates 
				button.button 
					p Read More
			section.experience
				h2 Experiences
				ul
					li
						p.bold Fashion show
						p Lorem ipsum dolor sit amet consectetur adipisicing elit. 
					li
						p.bold animals photo session
						p Lorem ipsum dolor sit amet consectetur adipisicing elit. 
					li
						p.bold sport shots
						p Lorem ipsum dolor sit amet consectetur adipisicing elit. 
				button.button
					p Read More
			section.whats_new
				h2 Whats New
				aside.date_new
					.date
						h2 22 
						h3 may
					p <span>Sed up perspiciatis</span><br>This Free Website Template goes with two packages. With PSD source files and without.

				aside.date_new
					.date
						h2 28 
						h3 may
					p <span>doperiam eaque ipsa</span><br> Quae ab illo inventore veritatis et quasi archiecto beatae vitaedic explicaob emo enim ipsam.
				button.button
					p Read More

	

