footer 
	display: flex

	.cub
		transform: rotate(45deg)
		height: 90px
		width: 90px
		background-color: #a3a
		margin: 25px
		p
			transform: rotate(-45deg)
			position: relative
			text-align: center
			top: 53px
			left: 23px
			width: 100%	
			background-color: #fff


