extends main.pug

include ../blocks/header/header.pug
include ../blocks/buttoms/buttoms.pug
include ../blocks/abouts/abouts.pug
include ../blocks/photos/photos.pug



block title
	title projeccz

block pagecontent

	+header()

	+buttoms()

	+abouts
	
	+photos()

