mixin abouts()
	.abouts.target.target-1.pd_left
		.about
			.block.block_1.b_2.b_3#brtop_1
				.cont_block
					h3 people
					h5 In your circles
					p You havent added anyone or you’re not displaying this.
					.par
						h5 Have you in circles
						a(href="#", class="light") View all (66)
					.img
						.img_wrap.img_1(style="background-image: url(img/about/img_1.png);")
						.img_wrap(style="background-image: url(img/about/img_2.png);")
						.img_wrap(style="background-image: url(img/about/img_3.png);")
						.img_wrap.img_w(style="background-image: url(img/about/img_4_6.png);")
						.img_wrap(style="background-image: url(img/about/img_5.png);")
						.img_wrap.img_w(style="background-image: url(img/about/img_4_6.png);")
						.img_wrap(style="background-image: url(img/about/img_7.png);")
					a(href="#", class="light icon-pencil") Edit
			.block.block_2.b_2#brtop_2
				.cont_block
					h3 story
					h5 Tagline
					p A brief description of you
					h5 Introduction
					p Put a little bit about yourself here so people know they’ve found the corrent Adi.
					h5 Bragging rights
					p Examples: Survived secondary school, have 3 kids, etc.
					a(href="#", class="light icon-pencil") Edit
			.block.block_3.b_3#brtop_3
				.cont_block
					h3 education
					h5 Occupation
					p Online projects
					h5 Introduction
					p Put a little bit about yourself here so people know they’ve found the corrent Adi.
					h5 Bragging rights
					p Examples: Survived secondary school, have 3 kids, etc.
					a(href="#", class="light icon-pencil") Edit
			.block.block_1#brtop_4
				.cont_block
					h3 Work
					h5 In your circles
					p You havent added anyone or you’re not displaying this.
					.par
						h5 Have you in circles
						a(href="#", class="light") View all (66)
					.img
						.img_wrap(style="background-image: url(img/about/img_1.png);")
						.img_wrap(style="background-image: url(img/about/img_2.png);")
						.img_wrap(style="background-image: url(img/about/img_3.png);")
						.img_wrap(style="background-image: url(img/about/img_4_6.png);")
						.img_wrap(style="background-image: url(img/about/img_5.png);")
						.img_wrap(style="background-image: url(img/about/img_4_6.png);")
						.img_wrap(style="background-image: url(img/about/img_7.png);")
					a(href="#", class="light icon-pencil") Edit

