mixin head()
	#head.bgc
		.container
			.gallery.slider
				.img-responsive.border.slider__item1
					img(src="img/photo1.png", class='img-width', alt="#")
				.img-responsive.border.slider__item
					img(src="img/photo2.png", class='img-width', alt="#")
				.img-responsive.border.slider__item
					img(src="img/photo3.png", class='img-width', alt="#")
