mixin head()
	.head
		article.container
			.gallery
				.w33.img-responsive
					img(src="img/photo1.png", class='img-width', alt="")
				.w33.img-responsive
					img(src="img/photo2.png", class='img-width', alt="")
				.w33.img-responsive
					img(src="img/photo3.png", class='img-width', alt="")
