mixin head()
	#head.bgc
		article.container
			.gallery
				.img-responsive.border
					img(src="img/photo1.png", class='img-width', alt="#")
				.img-responsive.border
					img(src="img/photo2.png", class='img-width', alt="#")
				.img-responsive.border
					img(src="img/photo3.png", class='img-width', alt="#")
