mixin header()
	.headers(id="head_bg" style="background-image: url(img/header/bgi.png);")
		.header
			.contants
				img(src="img/header/photo.png", alt="#")
				.content
					h1 Andrew Sokolovsky
					.cont
						p.icon-briefcase.pr.ml Manager
						p.icon-location.pr.pl Lives in Kiev
						p.icon-cog-alt.pl 66 have you in circles
			
			