mixin photos()
	.photos.target.target-2.pd_left
		.shows_me
			.show_me
				ul
					li
						h5 Show me:
					li
						a(href="#", class="show_bg") ALL
					li
						a(href="#", class="show_bg") Architecture
					li
						a(href="#", class="show_bg") Images
					li
						a(href="#", class="show_bg") Nature
					li
						a(href="#", class="show_bg") Photography
					li
						a(href="#", class="show_bg") Videos
			.gallerys#myBtn
				span

				.gallery.m_left
					img(class="photo", src="img/photo/ph_1.png", alt="1")
					.icon_search#myBtn
					.modal#myModal
						.modal_content
							span(class="close icon-cancel-circled")
							img(class="modal_bg", src="img/photo/md_1.png", alt="1")
							
							

				.gallery
					img(class="photo", src="img/photo/ph_2.png", alt="2")
					.icon_search#myBtn
					.modal#myModal
						.modal_content
							span(class="close icon-cancel")
							img(class="modal_bg", src="img/photo/ph_2.png", alt="")

				.gallery
					img(class="photo", src="img/photo/ph_3.png", alt="3")
					.icon_search#myBtn
					.modal#myModal
						.modal_content
							span(class="close icon-cancel")
							img(class="modal_bg", src="img/photo/ph_3.png", alt="")

				.gallery
					img(class="photo", src="img/photo/ph_4.png", alt="4")
					.icon_search#myBtn
					.modal#myModal
						.modal_content
							span(class="close icon-cancel")
							img(class="modal_bg", src="img/photo/ph_4.png", alt="")

				.gallery.m_left
					img(class="photo", src="img/photo/ph_5.png", alt="5")
					.icon_search#myBtn
					.modal#myModal
						.modal_content
							span(class="close icon-cancel")
							img(class="modal_bg", src="img/photo/ph_5.png", alt="")

				.gallery
					img(class="photo", src="img/photo/ph_6.png", alt="6")
					.icon_search#myBtn
					.modal#myModal
						.modal_content
							span(class="close icon-cancel")
							img(class="modal_bg", src="img/photo/ph_6.png", alt="")

				.gallery
					img(class="photo", src="img/photo/ph_7.png", alt="7")
					.icon_search#myBtn
					.modal#myModal
						.modal_content
							span(class="close icon-cancel")
							img(class="modal_bg", src="img/photo/ph_7.png", alt="")

				.gallery
					img(class="photo", src="img/photo/ph_8.png", alt="8")
					.icon_search#myBtn
					.modal#myModal
						.modal_content
							span(class="close icon-cancel")
							img(class="modal_bg", src="img/photo/ph_8.png", alt="")

				.gallery.m_left
					img(class="photo", src="img/photo/ph_9.png", alt="9")
					.icon_search#myBtn
					.modal#myModal
						.modal_content
							span(class="close icon-cancel")
							img(class="modal_bg", src="img/photo/ph_9.png", alt="")

				.gallery
					img(class="photo", src="img/photo/ph_10.png", alt="10")
					.icon_search#myBtn
					.modal#myModal
						.modal_content
							span(class="close icon-cancel")
							img(class="modal_bg", src="img/photo/ph_10.png", alt="")

				.gallery
					img(class="photo", src="img/photo/ph_11.png", alt="11")
					.icon_search#myBtn
					.modal#myModal
						.modal_content
							span(class="close icon-cancel")
							img(class="modal_bg", src="img/photo/ph_11.png", alt="")

				.gallery
					img(class="photo", src="img/photo/ph_12.png", alt="12")
					.icon_search#myBtn
					.modal#myModal
						.modal_content
							span(class="close icon-cancel-circled")
							img(class="modal_bg", src="img/photo/ph_12.png", alt="")

